# Build related directories
build/
*build*/

# File caches

# Keyfiles
id_rsa
id_rsa.pub
dropbear_*_key

# IDE configuration files
.vscode/
*.code-workspace
*.kate

# Other general files
*.zip
*.img
*.xz
