#!/bin/bash
set -eu

declare -xr _NEW_DEFAULT_USER="kali"
declare -xri _NO_PROMPTS="0"; #1 or 0
declare -xr _LUKS_PASSWORD="CHANGEME"
declare -xr _ROOT_PASSWORD="toor"
declare -xr _USER_PASSWORD="ilak"
declare -xr _LUKS_NUKE_PASSWORD="."
###############################################
declare -xr _DNS1='1.1.1.1'
declare -xr _DNS2='9.9.9.9'
###############################################
declare -xr _CPU_GOVERNOR="performance"
###############################################
declare -xr _HOSTNAME="pikal"
declare -xr _KERNEL_VERSION_FILTER="8l"
declare -xr _LOCALE='en_US.UTF-8'
###############################################
declare -xr _OUTPUT_BLOCK_DEVICE="/dev/sda"
declare -xr _FILESYSTEM_TYPE="btrfs"; #can also be ext4
###############################################
#0 = debug messages and normal, 1 normal only
declare -xri _LOG_LEVEL=1
###############################################
declare -xr _LUKS_CONFIGURATION="--type luks2 --cipher aes-xts-plain64 --key-size 512 --use-random --hash sha512 --pbkdf argon2i --iter-time 5000"
###############################################
declare -xr _PKGS_TO_INSTALL="tree htop nethogs midori pass usbguard lynis debsecan debsums fail2ban transmission lynx taskwarrior screen kate libreoffice shellcheck apt-listchanges youtube-dl apt-listbugs needrestart libpam-tmpdir"
declare -xr _PKGS_TO_PURGE=""
###############################################
declare -xr _IMAGE_SHA256="c6ceee472eb4dabf4ea895ef53c7bd28751feb44d46ce2fa3f51eb5469164c2c"
declare -xr _IMAGE_URL="https://images.kali.org/arm-images/kali-linux-2020.4-rpi4-nexmon-64.img.xz"
###############################################
declare -xr _CHKBOOT_BOOTDISK="/dev/mmcblk0";
declare -xr _CHKBOOT_BOOTPART="/dev/mmcblk0p1";
declare -xr _PASSWORDLESS_LOGIN_USER='kali';
declare -xr _SHELL="zsh";
declare -xri _IMAGE_MODE=1; #write to an image rather than directly to disk
declare -xr _KEYBOARD_LAYOUT='gb'; #set keyboard layout

###############################################
#Optional setup, runs when the image is being prepared
optional_setup(){
    firewall_setup;
    miscellanious_setup
    chkboot_setup;
    luks_nuke_setup;
    cpu_governor_setup;
    hostname_setup;
    root_password_setup;
    user_password_setup;
#    apt_upgrade;
    clamav_setup;
    fake_hwclock_setup;
    ntpsec_setup;
    vlc_setup;
    firejail_setup;
    sysctl_hardening_setup;
    passwordless_login_setup;
    default_shell_setup;
    bluetooth_setup;
    apparmor_setup;
    random_mac_on_reboot_setup;
    packages_setup;
    mount_boot_readonly_setup
    snapper_setup
    miscellaneous_setup;
    aide_setup
    dns_setup
}

