#!/bin/bash

#sample kali build env
declare -x _LUKS_PASSWORD="CHANGEME"
declare -x _DNS1='1.1.1.1'
declare -x _DNS2='9.9.9.9'
declare -x _KERNEL_VERSION_FILTER="8l"
declare -x _LOCALE='en_US.UTF-8'
###############################################
declare -x _OUTPUT_BLOCK_DEVICE="/dev/sda"
declare -x _FILESYSTEM_TYPE="btrfs";
###############################################
declare -xi _LOG_LEVEL=1
###############################################
declare -x _LUKS_CONFIGURATION="--type luks2 --cipher aes-xts-plain64 --key-size 512 --use-random --hash sha512 --pbkdf argon2i --iter-time 5000"
declare -x _IMAGE_SHA256="c6ceee472eb4dabf4ea895ef53c7bd28751feb44d46ce2fa3f51eb5469164c2c"
declare -x _IMAGE_URL="https://images.kali.org/arm-images/kali-linux-2020.4-rpi4-nexmon-64.img.xz"
declare -xi _IMAGE_MODE=0; #Write direct to disk
