#!/bin/bash

#sample kali build env
declare -x _output_block_device=
declare -xi _image_mode=0; #Write direct to disk
declare -x _filesystem_type="btrfs";
declare -x _luks_password="CHANGEME";
declare -x _dns='1.1.1.1'; #dns is only temporarily used in the chroot, your resolv.conf is reverted after
#declare -x _dns='127.0.0.53'; #example of using local resolver
#declare -x _kernel_version_filter="v7l";
declare -x _kernel_version_filter="8l";
declare -x _luks_configuration="--type luks2 --cipher aes-xts-plain64 --key-size 512 --use-random --hash sha512 --pbkdf argon2i --iter-time 5000";
declare -x _image_sha256="f5e126f33d32882f526e16b5148bd8b84a4e7c351bdd0eb9cfe3da2176580181";
declare -x _image_url="https://images.kali.org/arm-images/kali-linux-2021.1-rpi4-nexmon-64.img.xz";
declare -x _locale='en_GB.UTF-8';
declare -x _64bit=1;
declare -x _apt_https=1;#Can be set up to enable https in apt during setup (kali only)

