#!/bin/bash

declare -x _NEW_DEFAULT_USER="kali"
declare -xi _NO_PROMPTS="0"; #1 or 0
declare -x _LUKS_PASSWORD="CHANGEME"
declare -x _ROOT_PASSWORD="toor"
declare -x _USER_PASSWORD="ilak"
declare -x _LUKS_NUKE_PASSWORD="."
###############################################
declare -x _DNS1='1.1.1.1'
declare -x _DNS2='9.9.9.9'
###############################################
declare -x _CPU_GOVERNOR="performance"
###############################################
declare -x _HOSTNAME="pikal"
declare -x _KERNEL_VERSION_FILTER="8l"
declare -x _LOCALE='en_US.UTF-8'
###############################################
declare -x _OUTPUT_BLOCK_DEVICE="/dev/sda"
declare -x _FILESYSTEM_TYPE="btrfs";
###############################################
declare -xi _LOG_LEVEL=1
###############################################
declare -x _LUKS_CONFIGURATION="--type luks2 --cipher aes-xts-plain64 --key-size 512 --use-random --hash sha512 --pbkdf argon2i --iter-time 5000"
###############################################
declare -x _PKGS_TO_INSTALL="tree htop nethogs midori pass usbguard lynis debsecan debsums fail2ban transmission lynx taskwarrior screen kate shellcheck apt-listchanges youtube-dl apt-listbugs needrestart libpam-tmpdir"
declare -x _PKGS_TO_PURGE=""
###############################################
declare -x _IMAGE_SHA256="c6ceee472eb4dabf4ea895ef53c7bd28751feb44d46ce2fa3f51eb5469164c2c"
declare -x _IMAGE_URL="https://images.kali.org/arm-images/kali-linux-2020.4-rpi4-nexmon-64.img.xz"
###############################################
declare -x _CHKBOOT_BOOTDISK="/dev/mmcblk0";
declare -xi _IMAGE_MODE=0; #Write direct to disk 
###############################################
#Optional setup, runs when the image is being prepared
optional_setup(){
user_setup;
chkboot_setup;
luks_nuke_setup;
cpu_governor_setup;
hostname_setup;
root_password_setup;
user_password_setup;
#apt_upgrade;
clamav_setup;
fake_hwclock_setup;
ntpsec_setup;
vlc_setup;
firejail_setup;
sysctl_hardening_setup;
passwordless_login_setup;
bluetooth_setup;
apparmor_setup;
random_mac_on_reboot_setup;
packages_setup;
snapper_setup
miscellaneous_setup;
aide_setup;
secure_dns_setup;
#simple_dns_setup
}

