#!/bin/bash
set -eu

export _NO_PROMPTS="0"; #1 or 0
export _LUKS_PASSWORD="CHANGEME"
export _ROOT_PASSWORD="toor"
export _KALI_PASSWORD="ilak"
export _LUKS_NUKE_PASSWORD="."
###############################################
export _DNS1='1.1.1.1'
export _DNS2='9.9.9.9'
###############################################
export _CPU_GOVERNOR="performance"
###############################################
export _HOSTNAME="pikal"
export _KERNEL_VERSION_FILTER="8l"
export _LOCALE='en_US.UTF-8'
###############################################
export _OUTPUT_BLOCK_DEVICE="/dev/sda"
export _FILESYSTEM_TYPE="btrfs"; #can also be ext4
###############################################
#0 = debug messages and normal, 1 normal only
export _LOG_LEVEL=1
###############################################
export _LUKS_CONFIGURATION="aes-xts-plain64 --key-size 512 --use-random --hash sha512 --pbkdf argon2i --iter-time 5000"
###############################################
export _PKGS_TO_INSTALL="tree htop nethogs midori pass usbguard lynis debsecan debsums fail2ban transmission lynx taskwarrior screen kate libreoffice shellcheck apt-listchanges youtube-dl apt-listbugs needrestart libpam-tmpdir"
export _PKGS_TO_PURGE=""
###############################################
export _IMAGE_SHA256="c6ceee472eb4dabf4ea895ef53c7bd28751feb44d46ce2fa3f51eb5469164c2c"
export _IMAGE_URL="https://images.kali.org/arm-images/kali-linux-2020.4-rpi4-nexmon-64.img.xz"
###############################################
export _CHKBOOT_BOOTDISK="/dev/mmcblk0";
export _CHKBOOT_BOOTPART="/dev/mmcblk0p1";
export _PASSWORDLESS_LOGIN_USER='kali';
export _SHELL="zsh";
export _IMAGE_MODE=1; #write to an image rather than directly to disk

###############################################
#Optional setup, runs when the image is being prepared
extra_setup(){
    locale_setup;
    firewall_setup;
    chkboot_setup;
    luks_nuke_setup;
    cpu_governor_setup;
    hostname_setup;
    root_password_setup;
    user_password_setup;
#    apt_upgrade;
    clamav_setup;
    fake_hwclock_setup;
    ntpsec_setup;
    vlc_setup;
    firejail_setup;
    sysctl_hardening_setup;
    passwordless_login_setup;
    default_shell_setup;
    bluetooth_setup;
    apparmor_setup;
    random_mac_on_reboot_setup;
    packages_setup;
    mount_boot_readonly_setup
    snapper_setup
    aide_setup
    dns_setup
}

