#!/bin/bash

#sample pios env file
declare -x _OUTPUT_BLOCK_DEVICE=
declare -xi _IMAGE_MODE=0; #Write direct to disk 
declare -x _FILESYSTEM_TYPE="btrfs";
declare -x _LUKS_PASSWORD="CHANGEME";
declare -x _DNS='1.1.1.1';
declare -x _DNS='127.0.0.53'; #example of using local resolver
#declare -x _KERNEL_VERSION_FILTER="v7l";
declare -x _KERNEL_VERSION_FILTER="v8";
declare -x _LUKS_CONFIGURATION="--type luks2 --cipher aes-xts-plain64 --key-size 512 --use-random --hash sha512 --pbkdf argon2i --iter-time 5000";
declare -x _IMAGE_SHA256="cb1efa778f3a4effda7bf6f622e8e8e779f5303ac77ac8c558061aece9020fe6";
declare -x _IMAGE_URL="https://downloads.raspberrypi.org/raspios_armhf/images/raspios_armhf-2021-01-12/2021-01-11-raspios-buster-armhf.zip";
declare -x _LOCALE='en_US.UTF-8';
declare -x _64BIT=1;
declare -xi _LOG_LEVEL=1; #0 for debug, 1 for normal logging
