#!/bin/bash

#sample pios env file
declare -x _output_block_device=
declare -xi _image_mode=0; #Write direct to disk 
declare -x _filesystem_type="btrfs";
declare -x _luks_password="CHANGEME";
declare -x _dns='1.1.1.1'; #dns is only temporarily used in the chroot, your resolv.conf is reverted after
#declare -x _dns='127.0.0.53'; #example of using local resolver
#declare -x _kernel_version_filter="v7l";
declare -x _kernel_version_filter="v8";
declare -x _luks_configuration="--type luks2 --cipher aes-xts-plain64 --key-size 512 --use-random --hash sha512 --pbkdf argon2i --iter-time 5000";
declare -x _image_sha256="cb1efa778f3a4effda7bf6f622e8e8e779f5303ac77ac8c558061aece9020fe6";
declare -x _image_url="https://downloads.raspberrypi.org/raspios_armhf/images/raspios_armhf-2021-01-12/2021-01-11-raspios-buster-armhf.zip";
declare -x _locale='en_GB.UTF-8';
declare -x _64bit=1;
