#!/bin/bash
set -eu

declare -xri _NO_PROMPTS="0"; #1 or 0
declare -xr _LUKS_PASSWORD="CHANGEME"
declare -xr _SSH_KEY_PASSPHRASE="CHANGEME"
declare -xr _WIFI_PASSWORD='CHANGEME'
declare -xr _ROOT_PASSWORD="toor"
declare -xr _NEW_DEFAULT_USER="kali"
declare -xr _USER_PASSWORD="ilak"
declare -xr _LUKS_NUKE_PASSWORD="."
###############################################
declare -xr _DNS1='1.1.1.1'
declare -xr _DNS2='9.9.9.9'
###############################################
declare -xr _CPU_GOVERNOR="ondemand" #can be 'performance'
###############################################
#declare -xr _IODINE_DOMAIN="iodine"
#declare -xr _IODINE_PASSWORD="CHANGE ME"
###############################################
#declare -xr _OPENVPN_CONFIG_ZIP="openvpn.zip"
###############################################
declare -xr _HOSTNAME="pikal"
declare -xr _KERNEL_VERSION_FILTER="8l"
declare -xr _LOCALE='en_US.UTF-8'
###############################################
declare -xr _OUTPUT_BLOCK_DEVICE="/dev/sda"
declare -xr _FILESYSTEM_TYPE="btrfs"; #can also be ext4
###############################################
#0 = debug messages and normal, 1 normal only
declare -xri _LOG_LEVEL=1
###############################################
declare -xr _LUKS_CONFIGURATION="--type luks2 --cipher aes-xts-plain64 --key-size 512 --use-random --hash sha512 --pbkdf argon2i --iter-time 5000"
###############################################
declare -xr _PKGS_TO_INSTALL=""
declare -xr _PKGS_TO_PURGE=""
###############################################
declare -xr _IMAGE_SHA256="c6ceee472eb4dabf4ea895ef53c7bd28751feb44d46ce2fa3f51eb5469164c2c"
declare -xr _IMAGE_URL="https://images.kali.org/arm-images/kali-linux-2020.4-rpi4-nexmon-64.img.xz"
###############################################
declare -xr _SSH_LOCAL_KEYFILE="$_FILE_DIR/id_rsa.pub"
declare -xr _SSH_PASSWORD_AUTHENTICATION="no"
declare -xr _SSH_BLOCK_SIZE='4096'
#SSH PORT used in dropbear setup, ufw setup optional scripts
declare -xr _SSH_PORT='2222'
declare -xr _SFTP_PASSWORD="CHANGEME"
###############################################
declare -xr _WIFI_SSID='WIFI'
declare -xr _WIFI_INTERFACE='wlan0'
###############################################
declare -xr _INITRAMFS_WIFI_IP=":::::${_WIFI_INTERFACE}:dhcp:${_DNS1}:${_DNS2}"
declare -xr _INITRAMFS_WIFI_DRIVERS='brcmfmac brcmutil cfg80211 rfkill'
declare -xr _INITRAMFS_WIFI_INTERFACE='wlan0'
declare -xri _IMAGE_MODE=1; #write to an image rather than directly to disk
###############################################
#Optional and experimental hooks, runs when the image is being prepared
optional_setup(){
initramfs_wifi_setup
wifi_setup
ssh_setup
dropbear_setup
firewall_setup
luks_nuke_setup
cpu_governor_setup
hostname_setup
root_password_setup
user_password_setup
#vpn_client_setup
fake_hwclock_setup
ntpsec_setup
#iodine_setup
bluetooth_setup
packages_setup
sftp_setup
sysctl_hardening_setup
#avahi_setup
miscellaneous_setup
dns_setup
}
